# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.JoppesHundar_uppgift.iml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\naree\Desktop\programming2\JoppesHundar_uppgift\.idea\.idea.JoppesHundar_uppgift\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
